<div class="row">

  <div class="col-lg-7 animated fadeIn">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Perfil del usuario</h4>
            <h6 class="card-subtitle">Nombre del usuario</h6>
            <form ngNativeValidate #refForm="ngForm" (ngSubmit)="saveProfile(refForm.value)"  class="form p-t-20">
                <div class="form-group">
                    <label for="exampleInputuname">Nombre de usuario</label>
                    <div class="input-group">
                        <div class="input-group-addon"><i class="ti-user"></i></div>
                        <input [ngModel]="usuario.nombre" name="nombre" type="text" class="form-control" id="exampleInputuname" placeholder="Username" required>
                    </div>
                </div>
                <div class="form-group">
                    <label for="exampleInputEmail1">Email address</label>
                    <div class="input-group">
                        <div class="input-group-addon"><i class="ti-email"></i></div>
                        <input [ngModel]="usuario.email" name="email" [disabled]="usuario.google" type="email" class="form-control" id="exampleInputEmail1" placeholder="Ingresar email" required>
                    </div>
                </div>                
                               
                <button type="submit" class="btn btn-success waves-effect waves-light m-r-10">
                  <i class="fa fa-save"></i>
                  Guardar
                </button>
                
            </form>
        </div>
    </div>
  </div>

  <div class="col-lg-5 animated fadeInDown">
      <div class="card">
          <div class="card-body" align="center">
            <h4 class="card-title">Fotografía del usuario</h4>
            <img *ngIf="!imagenTemp" [src]="usuario.img | image" class="w150">
            <img *ngIf="imagenTemp" [src]="imagenTemp" class="w150">

            <input (change)="seleccionarImagen( $event.target.files[0] )" type="file">
            <br>
            <br>
            <button (click)="cambiarImagen($event)" [disabled]="!imagenSubir"  type="submit" class="btn btn-block btn-success waves-effect waves-light m-r-10">
              <i class="fa fa-save"></i>
              Actualizar fotografía
            </button>
          </div>
      </div>
  </div>

</div>

